@import url(https://fonts.googleapis.com/css?family=Roboto:100);

body {
    background-color: lightblue;
    background-image: url('https://codetheweb.blog/assets/img/posts/css-advanced-background-images/mountains.jpg');
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: 'Roboto', sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;


}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 1vmin;
  justify-content: center;
  padding-bottom: 10px;
  

}

div {
  border: 2px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  background-color: aliceblue;
}

h1 {
  text-align: center;
  border: 1px solid black;
}

h2 {
  text-align: center;
}

.btn {
  background-color: aliceblue;
  width: 180px;
  text-align: center; 
  margin: auto;
  box-shadow: black;
  border-radius: 5px;
  margin-top: 10px;
}